@model List<OnlineTicariOtomasyon.Models.Entity.Musteri>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    int i = 0;
}

<div class="card mt-3">
    <div class="col-12 mt-3">
        <div class="row">
            <a href="/Musteri/Ekle" style="margin-bottom:7px;margin-left:20px" class="btn btn-primary">Yeni Müşteri Ekle</a>
            <h3 style="margin-left:480px;color:green;font-size:33px">Müşteri Listesi</h3>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>NO</th>
                        <th>MÜŞTERİ</th>
                        <th>E-MAİL</th>
                        <th>ŞEHİR</th>
                        <th>SATIŞ GEÇMİŞİ</th>
                        <th>DÜZENLE</th>
                        <th>SİL</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        i++;
                    <tr>
                        <td>@i</td>
                        <td>@item.Ad @item.Soyad</td>
                        <td>@item.Mail</td>
                        <td>@item.Sehir</td>
                        <td>
                            <a href="/Musteri/SatisGecmis/@item.Id" class="btn btn-info">Satış Geçmişi</a>
                        </td>
                        <td>
                            <a href="/Musteri/Guncelle/@item.Id" class="btn btn-warning">Düzenle</a>
                        </td>
                        <td>
                            <a href="/Musteri/Sil/@item.Id" class="btn btn-danger">Sil</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

