@model List<OnlineTicariOtomasyon.Models.Entity.Urun>
@{
    int i = 0;
}

<table class="table table-head-fixed text-nowrap">
    <thead>
        <tr>
            <th>*</th>
            <th>Ürün</th>
            <th>Marka</th>
            <th>Stok</th>
            <th>Satış Fiyatı</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            i++;
        <tr>
            <td>@i</td>
            <td>@item.Ad</td>
            <td>@item.Marka</td>
            <td>@item.Stok</td>
            <td>@item.SatisFiyat</td>
        </tr>
        }
    </tbody>
</table>