@model List<OnlineTicariOtomasyon.Models.ModelViews.SinifGrup>
@{
    ViewBag.Title = "KolayTablolar";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    int i = 0;
}

<head>
    <link rel="stylesheet" href="~/Templates/AdminLTE-3.0.4/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Templates/AdminLTE-3.0.4/dist/css/adminlte.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>

<br />
<h2 style="color:red;margin-left:700px">Hızlı Bakış Tabloları</h2>
<br />
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Kategori Listesi</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        @Html.Action("_KategoriListesi","Istatistik")
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Departman Personel Sayıları</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        @Html.Action("_DepartmanPersonel","Istatistik")
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Müşteri Şehir Tablosu</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="width: 20px">#</th>
                                    <th style="width: 20px">Şehir</th>
                                    <th style="width: 20px">Sayı</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    i++;
                                    <tr>
                                        <td>@i.</td>
                                        <td>@item.Key</td>
                                        <td><span class="badge bg-danger">@item.Sayi</span></td>
                                    </tr>
                                }     
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Marka Sayıları</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        @Html.Action("_MarkaSayisi", "Istatistik")
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Müşteri Listesi</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        @Html.Action("_MusteriListesi","Istatistik")
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Ürün Listesi</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0" style="height: 300px;">
                        @Html.Action("_UrunListesi","Istatistik")
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>

<script src="~/Templates/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>
<script src="~/Templates/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/Templates/AdminLTE-3.0.4/dist/js/adminlte.min.js"></script>
<script src="~/Templates/AdminLTE-3.0.4/dist/js/demo.js"></script>

