@model List<OnlineTicariOtomasyon.Models.Entity.SatisHareket>
@{
    ViewBag.Title = "DepartmanPersonelSatis";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    int i = 0;
}

<div class="card mt-3">
    <h3 style="margin-left:530px;margin-top:3px;color:red;font-size:27px"><b>@ViewBag.PersonelAdi @ViewBag.PersonelSoyadi</b> yaptığı satışlar</h3>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>NO</th>
                        <th>ÜRÜN</th>
                        <th>MÜŞTERİ</th>
                        <th>FİYAT</th>
                        <th>ADET</th>
                        <th>TOPLAM FİYAT</th>
                        <th>TARİH</th>
                        <th>YAZDIR</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        i++;
                        <tr>
                            <td>@i</td>
                            <td>@item.Urun.Ad</td>
                            <td>@item.Musteri.Ad @item.Musteri.Soyad</td>
                            <td>@item.Fiyat</td>
                            <td>@item.Adet</td>
                            <td>@item.ToplamTutar</td>
                            <td>@item.Tarih</td>
                            <td>
                                <a href="/Departman/SatisYazdir/@item.Id" class="btn btn-info">Yazdır</a>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>